<h1>管理者登録</h1>
<%= link_to 'TOPにもどる', root_path, class: 'btn btn-primary' %>
<%= link_to '管理者一覧にもどる', admin_users_path, class: 'btn btn-success' %>
<%= render partial: 'form', locals: { user: @user } %>
